<div id="/rylc-html5/profilePage.html" data-role="page" ngm-shared-controller="auth:rylc.AuthenticationController">
    <div data-role="header">
        <h1>Profil von {{auth.customer().name}}</h1>
        <a href="" data-rel="back" class="back">Zur&uuml;ck</a>
        <a href="" ngm-click="auth.logout()" class="logout ui-btn-right">Logout</a>
    </div>
    <div data-role="content">
        <div data-role="fieldcontain">
            <label for="profilePage_username">Benutzername</label>
            <input type="text" ng-model="auth.username" id="profilePage_username" disabled="true">
        </div>
        <div data-role="fieldcontain">
            <label for="profilePage_name">Name</label>
            <input type="text" ng-model="auth.customer().name" id="profilePage_name" disabled="true">
        </div>
        <div data-role="fieldcontain">
            <label for="profilePage_street">Stra&szlig;e</label>
            <input type="text" ng-model="auth.customer().street" id="profilePage_street" disabled="true">
        </div>
        <div data-role="fieldcontain">
            <label for="profilePage_zip">PLZ</label>
            <input type="text" ng-model="auth.customer().zip" id="profilePage_zip" disabled="true">
        </div>
        <div data-role="fieldcontain">
            <label for="profilePage_city">Ort</label>
            <input type="text" ng-model="auth.customer().city" id="profilePage_city" disabled="true">
        </div>
        <div data-role="fieldcontain">
            <label for="profilePage_email">E-Mail</label>
            <input type="text" ng-model="auth.customer().email" id="profilePage_email" disabled="true">
        </div>
    </div>
</div>