<div id="rental2Page" data-role="page"
     ngm-shared-controller="rental:rylc.RentalController,auth:rylc.AuthenticationController"
     ngm-pagebeforehide="rental.clearMessages()">
    <div data-role="header">
        <h1>Autotyp w&auml;hlen</h1>
        <a href="" data-rel="back" class="back">Zur&uuml;ck</a>
        <a href="" ngm-click="auth.logout()" class="logout ui-btn-right">Logout</a>
    </div>
    <div data-role="content">
        <div class="error" ngm-if="rental.errorMessage">{{rental.errorMessage}}</div>
        <select id="rental2Page_carTypes" ng-model="rental.carType" ng-options="carType for carType in rental.carTypes"
                data-native-menu="true" data-theme="b" class="selectedCarType">
        </select>
        <ul data-role="listview" data-inset="true" id="rental2Page_list">
            <li ng-repeat="car in rental.availableCars | filter:rental.carType" class="car">
                <a href="#" ngm-click="rental.selectCar(car)"
                   class="selectCar">
                    <span class="carManufacturer">{{car.manufacturer}}</span> <span class="carDescription">{{car.description}}</span>
                    - <span class="carPrice">{{car.price | currency:"&euro;"}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>